@page
@model LoginModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Log in";
}


<div class=" d-flex justify-content-center">
    <div class="card mt-5">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                <img src="~/Images/img-01.webp" alt="IMG">
            </div>
            <form id="account" method="post" class="login100-form">
                <span class="login100-form-title">
                    Member Login
                </span>
                <div class="wrap-input100">
                    @*<label asp-for="Input.Email"></label>*@
                    <input class="input100" asp-for="Input.Email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                </div>
                <div class="wrap-input100">
                    <input class="input100" asp-for="Input.Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
