@page
@model CompletKitInstall.Pages.CMS.CarouselModel
@{
}
<h2>Site Content Manager</h2>
<div>
    <p>Use this page to update your front page carousel and the card shwing news.</p>

</div>
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="@Model.CarouselImage"/>
    <input type="text" asp-for="@Model.Carousel.Title"/>
    <input type="text" asp-for="@Model.Carousel.SubTitle" />
</form>