@page "{id}"
@model CompletKitInstall.Pages.EditProductModel
@{
}
<div class="container">
    <div class="row align-items-lg-start">
        <div class="col">
            <h2>Edit Product: <a href="/Product/@Model.Product.Id" class="text-primary">@Model.Product.Name</a></h2>
            <div class="col-4">
                <img src="~/@Model.Product.ImageUrl" class="img-thumbnail" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="rounded-2 card col-5 my-1 me-1">
            <div class="card-body">
                <h3>Edit Product</h3>
                <form method="post" enctype="multipart/form-data" asp-page-handler="Edit">
                    <div class="row">
                        <input class="form-control" type="text" asp-for="Product.Name" />
                        <span asp-validation-for="Product.Name"></span>
                    </div>
                    <div class="row">
                        <textarea class="form-control" rows="15" asp-for="Product.Description"></textarea>
                        <span asp-validation-for="Product.Description"></span>
                    </div>
                    <div class="row">
                        <input id="prodImage" type="file" asp-for="Image" class="form-control" onchange="preview_prodimage();" />
                        <span asp-validation-for="Image" />
                    </div>
                    <div class="row" id="prodImagePreview">

                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary col-2" value="Edit"> Edit </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="rounded-2 card col-5 my-1 ms-1">
            <div class="card-body">
                <partial name="Partials/_CatalogImageUpload.cshtml" model="@Model.CatalogImages"/> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="ProductImages">
                <partial name="Partials/_ProductImagesCardGroup.cshtml" model="@Model.ProductImages" />
            </div>
        </div>
    </div>

</div>