@page "{id}"
@model CompletKitInstall.Pages.EditProductModel
@{
}
<div class="container">
    <div class="row align-items-lg-start">
        <div class="col">
            <h2>Edit Product: <a href="/Product/@Model.Product.Id" class="text-primary">@Model.Product.Name</a></h2>
            <div class="col-4">
                <img src="~/@Model.Product.ImageUrl" class="img-thumbnail" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="rounded-2 card col-md-6 my-1">
            <div class="card-body">
                <h3>Edit Product</h3>
                <div class="row">
                    <input class="col-5" type="text" asp-for="Product.Name" />
                    <span asp-validation-for="Product.Name"></span>
                </div>
                <div class="row">
                    <textarea rows="10" asp-for="Product.Description"></textarea>
                    <span asp-validation-for="Product.Description"></span>
                </div>
                <div class="row">
                    <input type="file" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" />
                </div>
            </div>
        </div>
        <div class="rounded-2 card col-md-6 my-1">
            <div class="card-body">
                <partial name="Partials/_CatalogImageUpload.cshtml" model="@Model.CatalogImages"/> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="ProductImages">
                <partial name="Partials/_ProductImagesCardGroup.cshtml" model="@Model.ProductImages" />
            </div>
        </div>
    </div>

</div>