@page
@model CompletKitInstall.Pages.IndexModel
@{
}


<div id="carosuelHomePage" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carosuelHomePage" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carosuelHomePage" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carosuelHomePage" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://picsum.photos/id/237/1920/500" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Slide 1</h5>
                <p>Descriere slide 1</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://picsum.photos/id/238/1920/500" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Slide 2</h5>
                <p>Descriere slide 2</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://picsum.photos/id/239/1920/500" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Slide 3</h5>
                <p>Descriere slide 3</p>
            </div>
        </div>
    </div>
    <button type="button" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-target="#carosuelHomePage" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button type="button" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-target="#carosuelHomePage" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <section class="mt-n12">
        <div class="justify-content-center row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 rounded">
                    <img src="https://picsum.photos/id/512/600/500" class="card-img-top rounded">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded">
                    <img src="https://picsum.photos/id/513/700/500" class="card-img-top rounded">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 rounded" >
                    <img src="https://picsum.photos/id/514/500/500" class="card-img-top rounded">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>