@using CompletKitInstall.ViewModels
@model List<ProductImageViewModel>
@{
}
<div class="rounded-2 card col-md-5 my-1">
    <form asp-page-handler="AddImage" method="post" data-ajax="true" data-ajax-update="#ProductImages">
        <div class="card-body">
            <h3>Edit Product Images</h3>
            <input type="file" asp-for="@Model" multiple="multiple" id="upload_file" name="upload_file" onchange="preview_image();" />
        </div>

        <button type="submit" class="btn btn-sm btn-primary d-none d-md-inline-block">
            Add
        </button>
    </form>
    <div id="image_preview">

    </div>
</div> 

<script>
    function preview_image() {
        total_file = document.getElementById("upload_file").files.length;
        for (var i = 0; i < total_file; i++) {
            $('#image_preview').append("<span class=\"pip\">"+

                "<img class='img-preview' id='previmg"+ i + "'src='" + URL.createObjectURL(event.target.files[i]) + "'>"
                + "<br/><button class=\"btn-close\" aria-label='Close'></button>" + "</span>");
            $('.btn-close').click(function () {
                $(this).parent(".pip").remove();
                $('#previmg' + i).click(function () { (this).remove(); });
            }
            });
        }
    }
</script>
